:root {
    /*CORES*/
    --COR_LETRAS: #7C4DFF;
    --COR_LETRAS_BENEFICIOS: #071F6B;
    --COR_BACKGROUND: #F2F0FD;
}


body {
    margin: 20px 25px;
    font-family: var(--font-nunito);
    display: flex;
}

p {
    margin: 0;
    padding: 0
}

.gradiente {
    background: linear-gradient(90deg, #7C4DFF, #2ED8E8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.letra-colorida {
    color: var(--COR_LETRAS);
}

.titulo__pequeno {
    font-weight: 800;
    color: var(--COR_LETRAS);
    border-radius: 20px;
    background-color: hsla(256, 100%, 65%, 0.20);
    width: fit-content;
    padding: 10px 25px;
    margin-top: 75px;
}

h1 {
    margin-bottom: 40px;
    padding: 0;
    font-size: 50px
}

.titulo__divisor {
    margin-bottom: 40px;
}

.texto {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
}

.beneficios {
    display: flex;
    background-color: var(--COR_BACKGROUND);
    width: 105vh;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 140px;
    justify-content: space-around;
    align-items: center
    ;}

.beneficios__divisor {
    margin-top: 20px;
}

.beneficios__beneficio {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.beneficios__beneficio p{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: var(--COR_LETRAS_BENEFICIOS);
    font-size: 20px;
    line-height: 1;
}

.icone_checklist {
    transform: translateY(-10px);
}

.botão-livro {
    background-color: var(--COR_LETRAS);
    width: fit-content;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
}

.botão-livro p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.lado_direito {
    margin-left: 40px;
    z-index: 10;
}

.lado_esquerdo {
    margin-left: -53px;
    margin-top: 70px;
     z-index: 0;
}

.livro{
    transform: scale(1.3, 1.3);
}